.header__nav{
    @apply flex justify-between items-center;
}
.header__menu-item{
    @apply inline-block;
}
.header__menu-link{
    @apply p-2.5 text-white;
}
.header__nav-menu{
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    @include down(991px){
        @apply fixed top-0 left-auto right-0 h-full w-full bg-white flex flex-col justify-start pt-20 pl-6  ;
        right: -100%;
        a{
            @apply text-default text-3xl;
        }
        li{
            @apply block;
        }
        &.isWhere{
        right: 0;
        }
    }
}
.header__nav-burger{
    @include up(992px){
        @apply hidden;
    }
}
.header__nav-network{
    @include down(768px){
        @apply hidden;
    }
}

.header__nav-burger span{
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    height: 2px;
    @apply bg-white ml-auto my-1;
    &.burger-top{
        width: 26.67px;

    }
    &.burger-center{
        width: 20px;
    }
    &.burger-bottom{
        width: 12px;
        
    }
}
.header__nav-burger{
    @apply z-50;
    &.menuWhere span{
    @apply bg-dark;
        &.burger-center{
            opacity: 0;
            width: 26.67px;
        }
        &.burger-top{
            transform: translateY(6px) rotate(45deg);
        }
        &.burger-bottom{
            transform: translateY(-6px) rotate(-45deg);
            width: 26.67px;
        }
    }
}