.fastest__item-content{
    @apply w-full;
    max-width: 532px;
}
.fastest__item-title{
    @apply w-full;
    max-width: 335px;
    margin-bottom: 7px;

}
.fastest__item-link{
    padding-top: 60px;
}